{% extends "base.html" %} {% block content %}
<nav
  class="navbar position-relative"
  style="background-color: white; height: 90px"
>
  <div class="container-fluid d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a href="/" class="navbar-brand me-0"><h3>MAGNIFIER</h3></a>
      <img
        src="https://img.freepik.com/premium-vector/detective-hat-with-magnifying-glass-logo-vector-icon-illustration_683738-3524.jpg"
        alt=""
        style="width: 50px"
        class="mb-2"
      />
    </div>
  </div>
  <div class="container-fluid mt-1">
    <div class="position-absolute mt-1 ms-3">
      <div class="d-flex flex-row ms-2">
        <div class="d-flex flex-column mt-4">
          <img
            src="{{user.image_url}}"
            class="rounded float-start mt-3 border"
            alt="..."
            style="width: 100px; height: 100px"
            id="userImage"
          />
        </div>
        <div class="">
          <div class="ms-1 mt-4 d-inline-flex text-black" id="userInfo">
            <h2 id="userUsername" class="mt-3 ms-1">{{user.username}}</h2>
            <div class="ms-4 text-black mt-4 pt-2">
              <span class="position-relative me-3"
                >Searches:
                <span
                  class="position-absolute badge rounded-pill bg-secondary start-100 top-20 pt-1 mt-0"
                  id="searchCount"
                >
                  {{user.searches | length}}
                </span></span
              >
              <a
                class="ms-5 text-black"
                href="/magnifier/{{user.username}}/edit"
                >User Information</a
              >
              <a class="ms-4 text-black" href="/logout">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="text-center mt-5">
  <p class="d-inline-flex gap-1">
    <button
      class="btn btn-outline-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#searchPanel"
      aria-expanded="false"
      aria-controls="searchPanel"
      id="newSearchBtn"
    >
      <h2>Perform a Search</h2>
    </button>
  </p>
</div>
<div class="d-flex justify-content-center mb-3">
  <div class="collapse" id="searchPanel">
    <div class="" id="">
      <div
        class="card card-body bg-black d-inline-block text-center border border-white"
        style="width: 450px"
      >
        <div class="d-inline-block">
          <a
            href="#collapseEmail"
            data-bs-toggle="collapse"
            class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            id="emailSearch"
            >EMAIL</a
          >
        </div>
        <div class="d-inline-block mx-5">
          <a
            href="#collapsePhone"
            data-bs-toggle="collapse"
            class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            id="phoneSearch"
            >PHONE</a
          >
        </div>
        <div class="d-inline-block me-5">
          <a
            href="#collapseVat"
            data-bs-toggle="collapse"
            class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            id="vatSearch"
            >VAT</a
          >
        </div>
        <div class="d-inline-block">
          <a
            href="#collapseDomain"
            data-bs-toggle="collapse"
            class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
            id="domainSearch"
            >DOMAIN</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="collapse" id="collapsePhone">
    <div
      class="card card-body bg-black d-inline-block text-center border border-white"
    >
      <h5>SEARCH TYPE: <span id="phoneType">PHONE</span></h5>
      <span class=""
        >Select the country code and type the phone number with the local code
        and click 'submit'.</span
      >
      <form action="" , method="" class="mt-2" id="phoneSearchForm">
        <div class="d-flex justify-content-center">
          <select
            class="form-select form-select-lg mb-3 me-2"
            aria-label="Large select example"
            name="country_code"
            style="width: fit-content"
            id="countryCode"
          >
            <option selected>Open this select menu</option>
            {% for country in countries %}
            <option value="{{country.country_code}}">
              {{country.country_name}} {{country.country_code}}
            </option>
            {% endfor %}
          </select>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              name="phone_number"
              style="width: 280px"
            />
            <label for="phoneNumber">Phone Number (include local code)</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-light">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="collapse" id="collapseEmail">
    <div
      class="card card-body bg-black d-inline-block text-center border border-white"
    >
      <h5>SEARCH TYPE: <span id="emailType">EMAIL</span></h5>
      <span class="">Type the email address and click 'submit'. </span>
      <form action="" method="" class="mt-2" id="emailSearchForm">
        <div class="d-flex justify-content-center">
          <div class="form-floating mb-3 text-center" style="width: 500px">
            <input
              type="text"
              class="form-control w-100"
              id="emailAddress"
              name="emailInput"
            />
            <label for="emailInput">Email address</label>
          </div>
        </div>
        <div class="text-center">
          <a href="">
            <button type="submit" class="btn btn-light">Submit</button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="collapse" id="collapseVat">
    <div
      class="card card-body bg-black d-inline-block text-center border border-white"
    >
      <h5>SEARCH TYPE: <span id="vatType">VAT</span></h5>
      <span class=""
        >Select the country code and type the VAT number and click 'submit'.
        <br />(valid only for the EU territory)</span
      >
      <form action="" , method="" class="mt-2" id="vatSearchForm">
        <div class="d-flex justify-content-center">
          <select
            class="form-select form-select-lg mb-3 me-2"
            aria-label="Large select example"
            name="countryVat"
            style="width: fit-content"
            id="countryVatCode"
          >
            <option selected>Open this select menu</option>
            {% for country in vats %}
            <option value="{{country.country_code}}">
              {{country.country_name}} - <b>{{country.country_code}}</b>
            </option>
            {% endfor %}
          </select>
          <div class="form-floating mb-3 text-center">
            <input
              type="text"
              class="form-control w-100"
              id="vatNumber"
              name="vatInput"
            />
            <label for="vatInput">VAT Number</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-light">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="collapse" id="collapseDomain">
    <div
      class="card card-body bg-black d-inline-block text-center border border-white"
    >
      <h5>SEARCH TYPE: <span id="domainType">DOMAIN</span></h5>
      <span class="">Type the domain address and click 'submit'. </span>
      <form action="" method="" class="mt-2" id="domainSearchForm">
        <div class="input-group mb-3" style="width: 500px">
          <span class="input-group-text">http://www</span>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="domainAddress"
              name="domainInput"
            />
            <label for="domainAddress">Eg: airbnb.com</label>
          </div>
        </div>
        <div class="text-center">
          <a href="">
            <button type="submit" class="btn btn-light">Submit</button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <div class="d-flex justify-content-center w-75">
    <div class="collapse" id="resultCollapse" style="width: 700px"></div>
  </div>
</div>

{% endblock %}
