{% extends "base.html" %} {% block content %}
<nav class="navbar" style="background-color: white; height: 65px">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand me-0" href="/">MAGNIFIER</a>
        <img
          src="https://img.freepik.com/premium-vector/detective-hat-with-magnifying-glass-logo-vector-icon-illustration_683738-3524.jpg"
          alt=""
          style="width: 50px"
        />
      </div>
      <div>
        <a class="navbar-brand" href="/logout">Log out</a>
      </div>
    </div>
</nav>
<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-start w-50 mb-5 border border-white my-5 pb-2">
    <div class="m-3">
      <div class="position-relative">
        <img
          src="{{user.image_url}}"
          class="rounded float-start  position-relative"
          alt="..."
          style="width: 210px; height: 210px;"
          id="userImage"
        />
      </div>
      <div
        class="position-absolute mt-3 ms-2 pt-5 ps-3"
        id="editPicture"
        style="display: none"
      >
          <label for="imageFile"><a
            class="btn btn-outline-info"
            data-bs-toggle="modal2"
            data-bs-target="#pictureModal2"
            
          >Upload <br>
          Pic </a
          ></label>
        <input type="file" id="imageFile" style="display: none;">
        <button
        class="btn btn-outline-danger"
        id="deletePicture"
      >
        Remove <br> Pic
      </button>
      </div>
      <div
        class="modal fade text-center"
        id="pictureModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog text-black text-center">
          <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
              <form class="text-center w-100" id="editPictureForm">
                <div class="mb-3 text-center">
                  <label for="exampleInputEmail1" class="form-label"
                    >Picture URL</label
                  >
                  <input
                    type="text"
                    class="form-control w-100"
                    id="image"
                    aria-describedby="emailHelp"
                    value="{{user.image_url}}"
                  />
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    form="editPictureForm"
                    data-bs-dismiss="modal"
                    id="uploadPicture"
                  >
                    Upload
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    form="editPictureForm"
                    data-bs-dismiss="modal"
                    id="deletePicture"
                  >
                    Remove Picture
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          class="mt-2 btn btn-light w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
          id="editButton"
        >
          Edit profile
        </button>
      </div>
    </div>
    <div class="ms-3 mt-2 collapse show" id="userInfo">
      <h2 id="userUsername">{{user.username}}</h2>
      <span>Name: {{user.first_name}} {{user.last_name}}</span>
      <br />
      <span id="userEmail">Email: {{user.email}}</span>
    </div>
    <div style="min-height: 120px" class="mt-0 container-fluid">
      <div
        class="collapse collapse-horizontal p-0"
        id="collapseWidthExample"
        style="width: 400px; min-height: 120px"
      >
        <div class="card card-body bg-black container-fluid" style="width: 450px">
          <form class="" id="editForm">
            <div class="form-floating mb-1">
              <input
                type="text"
                class="form-control"
                id="newUsername"
                value="{{user.username}}"
              />
              <label for="floatingPassword">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input
                type="email"
                class="form-control"
                id="email"
                value="{{user.email}}"
              />
              <label for="floatingInput">Email address</label>
            </div>
          </form>
        </div>
        <div class="text-center">
          <button
            class="mt-2 btn btn-primary"
            type="submit"
            id="saveEdits"
            form="editForm"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample"
          >
            Save edits
          </button>
          <button
            class="mt-2 btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample"
            id="cancelEdit"
          >
            Cancel
          </button>
          <button
            type="button"
            class="mt-2 btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteAlert"
          >
            Delete Profile
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteAlert"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog alert alert-warning text-center">
      <div class="modal-content alert alert-warning">
        <div class="mb-2">You are about to delete your account.</div>
        <div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <a type="" class="btn btn-danger" href="/{{user.username}}/delete"
            >Delete profile</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="d-flex justify-content-center mb-3">
    <div class="d-flex flex-column">
      <div class="text-center"><h2>Searches: <span id="searchesLength">{{user.searches | length}}</span></h2></div>
      {% if user.searches %} 
      {% for search in user.searches|sort(reverse=true,attribute='created_at') %}
      <div class="accordion m-2" id="accordionExample">
        <div class="accordion-item bg-black text-white" style="width: 600px;">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#{{search.id}}"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
            {% if search.search_type == 'Phone' %}
            <div class="d-flex flex-column">
              <div class="d-flex flex-column">
                <div><h5>Type: {{search.search_type}}</h5></div>
                <div><h5>Search date: {{search.showdate}}</h5></div>
            </div>
              <span class="d-inline-block"> Object: {{search.phone_searches.number}} </span> 
          </div>
            </button>
          </h2>
          <div
            id="{{search.id}}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <h5>Number: {{search.phone_searches.number}}</h5>
                <h5>Prefix: {{search.phone_searches.prefix}}</h5>
                <h5>Local: {{search.phone_searches.local}}</h5>
                <h5>Country: {{search.phone_searches.country}}</h5>
                <h5>Location: {{search.phone_searches.location}}</h5>
                <h5>Type: {{search.phone_searches.phone_type}}</h5>
                <h5>Carrier: {{search.phone_searches.carrier}}</h5>
              </p>
              <div class="text-center">
                <button class="btn btn-outline-dark deleteSearch" id="{{search.id}}"><i class="fa-solid fa-trash-can fa-xl" style="color: #ffffff;"></i><br><span>Delete</span></button>
              </div>
            </div>
          </div>
          {% elif search.search_type == 'Email' %}
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <h5>Type: {{search.search_type}} </h5> 
                    <h5>Search date: {{search.showdate}}</h5>
                </div>
              <span class="d-inline-block"> Object: {{search.email_searches.email}} </span> 
          </div>
            </button>
          </h2>
          <div
            id="{{search.id}}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <h5>Email: {{search.email_searches.email}}</h5>
                <h5>Valid: {{search.email_searches.is_valid}}</h5>
                <h5>Free: {{search.email_searches.is_free_email}}</h5>
                <h5>Role Email: {{search.email_searches.is_disposable}}</h5>
                <h5>"Catch all email": {{search.email_searches.is_role}}</h5>
              </p>
              <div class="text-center">
                <button class="btn btn-outline-dark deleteSearch" id="{{search.id}}"><i class="fa-solid fa-trash-can fa-xl" style="color: #ffffff;"></i><br><span>Delete</span></button>
              </div>
            </div>
          </div>
          {% elif search.search_type == 'Vat' %}
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <h5>Type: {{search.search_type}} </h5> 
                    <h5>Search date: {{search.showdate}}</h5>
                </div>
              <span class="d-inline-block"> Object: {{search.vat_searches.number}} </span> 
          </div>
            </button>
          </h2>
          <div
            id="{{search.id}}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <h5>Number: {{search.vat_searches.number}}</h5>
                <h5>Valid: {{search.vat_searches.valid}}</h5>
                <h5>Company: {{search.vat_searches.company_name}}</h5>
                <h5>Address: {{search.vat_searches.company_address}}</h5>
                <h5>Country: {{search.vat_searches.country}}</h5>
              </p>
              <div class="text-center">
                <button class="btn btn-outline-dark deleteSearch" id="{{search.id}}"><i class="fa-solid fa-trash-can fa-xl" style="color: #ffffff;"></i><br><span>Delete</span></button>
              </div>
            </div>
          </div>
          {% elif search.search_type == 'Domain' %}
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <h5>Type: {{search.search_type}} </h5> 
                    <h5>Search date: {{search.showdate}}</h5>
                </div>
              <span class="d-inline-block"> Object: {{search.domain_searches.domain}} </span> 
          </div>
            </button>
          </h2>
          <div
            id="{{search.id}}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <h5>Name: {{search.domain_searches.name}}</h5>
                <h5>Locality: {{search.domain_searches.locality}}</h5>
                <h5>Country: {{search.domain_searches.country}}</h5>
                <h5>Industry: {{search.domain_searches.industry}}</h5>
                <h5>Year founded: {{search.domain_searches.year_founded}}</h5>
                <h5>Employees count: {{search.domain_searches.employees_count}}</h5>
                <h5>Linkedin: {{search.domain_searches.linkedin}}</h5>
              </p>
              <div class="text-center">
                <button class="btn btn-outline-dark deleteSearch" id="{{search.id}}"><i class="fa-solid fa-trash-can fa-xl" style="color: #ffffff;"></i><br><span>Delete</span></button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>


{% endblock %}